/* styles.css */
body {
    font-family: Arial, sans-serif;
}
.iteam{
    max-width: 100%;
    width: 600px;
    margin: 250px auto;
}
.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #ddd;
    border-bottom: 2px solid #000;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content.active {
    display: block;
}
